@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 30px;
    z-index: 10;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 30px;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 17px;
        @extend %ubuntu-medium;
    }
    &__btn{
        color: #fff;
        background-color: transparent;
        padding: 6px 28px;
        border: 1px solid #fff;
        border-radius: 3px;
        margin-right: 8px;
        cursor: pointer;
        text-transform: uppercase;
        transition: all .3s;
        &:hover{
            color: #000;
            background-color: #fff;
        }
    }
    &__phone{
        font-size: 16px;
        line-height: 18px;
        @extend %ubuntu-bold;
    }
}

.menu{
    &__list-item{
        display: inline-block;
        & + .menu__list-item{
            padding-left: 20px;
        }
    }
}

.top{
    background-image: url("../images/top-bg.jpg");
    &::before{
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        background: radial-gradient(45.97% 54.43% at 50% 45.57%, rgba(23, 26, 28, 0) 50.28%, rgba(23, 26, 28, 0.00225974) 50.29%, rgba(4, 5, 5, 0.820343) 58.72%, rgba(5, 5, 6, 0.792703) 80.08%, #000000 87.89%);
        opacity: 0.4;
    }
    &__wrapper{
        z-index: 1;
        display: flex;
        align-items: flex-end;
    }
    &__inner{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    &__title{
        font-size: 96px;
        line-height: 115px;
        @extend %sf-semibold;
        margin-bottom: 25px;
    }
    &__text{
        margin-bottom: 25px 0 35px;
        max-width: 325px;
    }
    &__social-item{
        display: inline-block;
        margin: 0 25px;
    }
    &__social-link{
        opacity: .5;
        transition: all .3s;
        &:hover{
            opacity: 1;
        }
    }
}

.products{
    &__inner{
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
    }
    &__text{
        max-width: 440px;
        p{
            margin-bottom: 30px;
        }
    }
    &__slider-box{
        position: relative;
        padding-top: 110px;
    }
    &__slider-text{
        position: absolute;
        width: 285px;
        text-align: right;
        font-size: 24px;
        line-height: 28px;
        @extend %ubuntu-medium;
        z-index: 5;
        bottom: 10px;
        left: -170px;
    }
    &__slider{
        max-width: 560px;
        &::before{
            content: "";
            position: absolute;
            width: 560px;
            height: 276px;
            border: 4px solid #fff;
            top: -15px;
            right: -17px;
        }
    }
}
.slider-btn{
    padding: 16px 26px;
    border: none;
    background-color: #fff;
    position: absolute;
    bottom: -45px;
    right: 0;
    cursor: pointer;
    z-index: 5;
    outline: none;
    svg{
        stroke: #000;
    }
    &__left{
        right: 60px;
    }
    &.slick-disabled{
        background-color: #000;
        svg{
            stroke: #fff;
        }
    }
}

.benefits{
    &__items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item{
        margin-bottom: 100px;
        display: flex;
        align-items: flex-end;
        // &:nth-child(even){
        //     margin-top: 15px;
        // }
    }
    &__item-1{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            height: 4px;
            width: 245px;
            background-image: url('../images/line-1.svg');
            background-repeat: no-repeat;
            background-position: 0 0;
            right: 0;
            bottom: 0;

        }
    }
    &__num{
        font-size: 36px;
        line-height: 41px;
        @extend %ubuntu-bold;
        margin-right: 10px;
    }
    &__img{
        position: relative;
        margin-right: 32px;
        &::before{
            content: "";
            position: absolute;
            width: 193px;
            height: 128px;
            border: 2px solid #fff;
            top: -12px;
            right: -12px;
            z-index: -1;
        }
    }
    &__info{
         width: 300px;
    }
    &__info-title{
        width: 123px;
        font-size: 21px;
        line-height: 24px;
        @extend %ubuntu-bold;
        margin-bottom: 10px;
    }
    &__info-text{
        line-height: 19px;
        font-size: 15px;
    }

}

@import "media";
